*{
    font-family: Microsoft JhengHei;
}

html,body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body{
    background-color: #FFEEDD;
}

.images{
    position: relative;
    width: 100%;
    height:250px;
}

#thermometer{
    position: absolute;
    width: 100%;
    left:50%;
    bottom:10px;
    transform:translateX(-50%);
}

#poniter{
    position: absolute;
    width: 30%;
    right:50%;
    bottom:2px;
    transform:translateX(5px);
    transform-origin: 100% 50%;
    transform: rotate(0deg);
    transition: 0.5s;
}